body {
  text-align: center;
  margin: 0;

  .Communicator {
    &-background {
      z-index: -1;
      position: fixed;
      height: 100%;
      width: 500%;
      background: linear-gradient(270deg, #f7027c, #0057ff, #00b59b, #dde00f);
      transition: all 5s ease;
      transform: translateX(-50%);

      &__blue {
        transform: translateX(-50%);
      }
      &__green {
        transform: translateX(-20%);
      }
      &__yellow {
        transform: translateX(0%);
      }
      &__red {
        transform: translateX(-80%);
      }
    }

    &-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px 10px;
      border-radius: 75px;
      font-size: 25px;
      display: inline-flex;

      form {
        display: inherit;
      }

      input,
      button {
        padding: 20px 30px;
        font-size: 32px;
        margin: 0 15px;
        border-radius: 50px;
        user-select: none;
        outline-style: none;
      }
      input {
        width: 500px;
        border: 0;

        @media (max-width: 767px) {
          width: 200px;
          font-size: 26px;
        }
        @media (max-width: 320px) {
          width: 120px;
          font-size: 14px;
        }
      }
      button {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        color: #fff;
        background: #222;
        margin: 0px 10px;
        border: none;
        outline-style: none;
        cursor: pointer;
        transition: all 0.1s ease;
        transform: scale(0.95);
        font-size: 14px;
        transform-origin: 50% 70%;
        padding: 15px;
        transform: rotate(0deg);
        transform-origin: 50% 50%;

        &:hover {
          opacity: 0.8;
          animation: 0.5s circle ease-in-out;
        }

        &.clear {
          transform: rotate(45deg);
          &:hover {
            opacity: 0.8;
            animation-play-state: paused;
          }
        }

        &:before {
          content: "";
          position: absolute;
          left: 32px;
          top: 15px;
          width: 5px;
          height: 50px;
          border: solid white;
          border-width: 0 4px 0 0;
        }
        &:after {
          position: absolute;
          content: "";
          left: 35px;
          top: 12px;
          width: 5px;
          height: 50px;
          border: solid white;
          border-width: 0 4px 0 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(90deg);
        }
        &:active {
          opacity: 0.2;
        }
      }
    }

    p {
      font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica,
        ubuntu, roboto, noto, segoe ui, arial, sans-serif;
      font-size: 200px;
      margin: 0;
      padding: 100px 0;
      text-transform: uppercase;
      font-weight: 800;
      opacity: 0.2;
      word-break: break-all;
      pointer-events: none;

      @media (max-width: 767px) {
        padding: 0;
      }
    }

    &-lottie {
      pointer-events: none;

      &__car {
        animation: infinite drive 3s ease-in;
        @media (max-width: 767px) {
          animation: forwards driveMobile 2s ease-in;
        }
      }
      &__react {
        animation: 0.5s forwards fadeout 4s ease-out;
      }
    }
  }
}

@keyframes circle {
  0% {
    transform: roate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes drive {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes driveMobile {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
